/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, p, div,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, div,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1.5;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	background-color: #241d1b;
}

ol, ul {
	padding: 0;
	list-style: none;
	margin: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

li{
	display: inline;
	font-size: 24px;
	font-weight: bold;
}

/*---------------------------- Párrafos -----------------------------------*/

.container {
  position: relative;
	width: 100%;
	margin-top: 10%;
}

.center {
	color: white;
  position: absolute;
  text-align: center;
  font-size: 16px;
	padding-left: 31%;
	padding-right: 31%;
	padding-top: 2%;
}

p{
	font-size: 16px;
	text-align: left;
	width: 100%;
}

.cortosb, .cortosr{
	position: absolute;
	font-size: 16px;
	text-align: center;
	padding-left: 9%;
	padding-right: 9%;
	width: 31%;
}

.cortosb{
color: white;
}

.cortosr{
color: #d03b40;
}

/*--------------------- Encabezados ------------------------*/

.encabezado1 {
	padding-left: 30%;
	padding-right: 30%;
	font-size: 44px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-top: 5%;
	margin-bottom: 10px;
}

.encabezado2, .encabezado3 {
	padding-left: 28%;
	padding-right: 28%;
	font-size: 28px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding-top: 20%;
	margin-bottom: 10px;
}

.encabezado2 {
	color: white;
}

.encabezado3 {
	color: #d03b40;
}

.encabezado4 {
	width: 100%;
	font-size: 24px;
	font-weight: bold;
	color: black;
	text-align: left;
	padding-top: 50px;
}

.linea {
	width: 100px;
	margin-left: 45%;
	border-bottom: 2px solid white;
}

/*--------------------- Secciones - Div ------------------------*/

.div1 {
	min-height: 640px;
	width: 98%;
	background-image: url(../assets/images/Fondo1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	float: none;
	padding-left: 2%;
	padding-top: 2%;
}

.div2, .div10 {
	width: 50%;
	height: 400px;
	background-color: #d03b40;
	float: left;
}

.div3, .div9 {
	width: 50%;
	height: 400px;
	background-color: #ded6c0;
	float: left;
}

.div4 {
	width: 100%;
	background-image: url(../assets/images/Fondo2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	float: left;
}

.div5, .div6, .div7, .div8{
	width: 50%;
	height: 320px;
	background-color: #f5f0ed;
	float: left;
}

.div11 {
	width: 98%;
	color: white;
	height: 80px;
	float: left;
	padding-left: 20px;
	padding-top: 50px;
}

/*--------------------- Varios ------------------------*/

.boton {
	color: white;
	font-size: 14px;
	border: 2px solid white;
	padding: 10px;
	width: 280px;
	margin-top: 7%;
	margin-left: 37%;
	margin-bottom: 200px;
	text-align: center;
}

.imageprod {
	float: left;
	margin: 30px;
	padding-top: 20px;
}

.contenido {
	float: left;
	width: 55%;
}

/*--------------------- Navegación ------------------------*/

.navegacion a{
	display: block;
	text-decoration: none;
	color: white;
	font-size: 16px;
}

.lanzador-menu{
	text-decoration: none;
	color: #FFF;
	padding: 6px 10px;
	background-color: #d03b40;
	border-radius: 3px;
	font-size: 20px;
	font-weight: bold;
  position: absolute;
  top: 8px;
  right: 5%;
}

/*--------------------- Media Querys ------------------------*/

@media screen and (max-width: 360px){

  .div1, .div2, .div3, .div4, .div5, .div6,
	.div7, .div8, .div9, .div10, .div11{
		float: left;
	}

	.div2, .div3, .div9, .div10,
	.div5, .div6, .div7, .div8 {
		width: 100%;
	}

	.center {
		color: white;
	  position: absolute;
	  text-align: center;
	  font-size: 18px;
		padding-left: 5%;
		padding-right: 5%;
	}

	.encabezado1 {
		padding-left: 5%;
		padding-right: 5%;
		font-size: 30px;
		font-weight: bold;
		color: white;
		text-align: center;
		padding-top: 25%;
		margin-bottom: 5px;
	}

	.cortosb, .cortosr{
		position: absolute;
		text-align: center;
		padding-left: 8%;
		padding-right: 8%;
		width: 84%;
	}

	.encabezado2, .encabezado3 {
		padding-left: 5%;
		padding-right: 5%;
		padding-bottom: 20px;
	}

	.js .navegacion{
		max-height: 0;
		width: 170px;
		overflow: hidden;
		transition: max-height .5s;
	  position: absolute;
	  top: 45px;
		left: 50%;
	  right: 10%;
		background-color: #d03b40;
		z-index: 5;
	}

	.js .navegacion a{
		padding: 5px 10px;
		color: #FFF;
		border-top: 1px solid rgba(255, 255, 255, 4);
	}

	.js .navegacion.menu-desplegado{
		max-height: 100%;
	}
}

@media screen and (min-width: 361px){

	.lanzador-menu{
		display: none;
	}

	.navegacion{
		position: absolute;
		width: 95%;
	}

	.navegacion li{
		display: inline-block;
		margin-right: 15px;
	}

	.navegacion ul{
		float: right;
		padding-top: 20px;
	}

}
